{% from 'macros/vertical_space.html' import vertical_space %}

<section class="container-fluid bg-gradient-custom-about2 text-color-section">
    <div class="row d-flex justify-content-center align-items-center">
        <section class="division">
            <h2 class="division__title mb-3">MEET THE PACILIANS</h2>
            
            <div class="division__menu">
                <div class="division__row">
                    <a href="#manajemen" class="division__btn">Manajemen</a>
                    <a href="#staf-pengajar" class="division__btn">Staf Pengajar</a>
                    <a href="#security" class="division__btn">Security</a>
                </div>
                <div class="division__row">
                    <a href="#cleaning-service" class="division__btn">Cleaning Service</a>
                    <a href="#kantin" class="division__btn">Canteen</a>
                    <a href="#gardener" class="division__btn">Gardener</a>
                </div>
            </div>

<div class="division__grid">
            <div class="division__block" id="manajemen">
                <h3 class="division__block-subtitle">Manajemen</h3>
                <div class="division__members">
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/staff-photo-petrus-mursanto-white.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Prof. Dr. Ir. Petrus Mursanto, M.Sc.</h4>
                        <p class="member-card__major">Dekan</p>
                        
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/staff-photo-ari-sapta.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Ari Saptawijaya, S.Kom., M.Sc., Ph.D</h4>
                        <p class="member-card__major">Wakil Dekan Bidang Pendidikan, Penelitian, dan Kemahasiswaan</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/staff-photo-achmad-nizar-w.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Prof. Dr. Achmad Nizar Hidayanto, S.Kom., M.Kom.</h4>
                        <p class="member-card__major">Profesor Sistem Informasi</p>
                        <p class="member-card__major"> Wakil Dekan Bidang Sumber Daya, Ventura, dan Administrasi Umum</p>
                    </div>
                    <div class="member-card"data-details="">
                        <img src="static/img/element-fasilkom/staf/Alfan-Farizki-Wicaksono.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Alfan Farizki Wicaksono, S.T., M.Sc., Ph.D.</h4>
                        <p class="member-card__major">Koordinator Program Studi Sarjana Ilmu Komputer dan Kelas Internasional</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/dosen-putu-wuri.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Prof. Dr. Putu Wuri Handayani, S.Kom., M.Sc..</h4>
                        <p class="member-card__major">Koordinator Program Studi Sarjana Sistem Informasi</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/staff-photo-betty-puwandari.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Betty Purwandari, S.Kom., M.Sc., Ph.D</h4>
                        <p class="member-card__major">Koordinator Program Studi Magister Teknologi Informasi</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/Harry-Budi.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Prof. Harry Budi Santoso, S.Kom., M.Kom., Ph.D.</h4>
                        <p class="member-card__major">Koordinator Program Studi Magister dan Doktor Ilmu Komputer</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/dina-chahyani-2022-edit.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Dr. Dina Chahyati, S.Kom., M.Kom</h4>
                        <p class="member-card__major">Manajer Pendidikan</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/staff-photo-adila-alfa.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Adila Alfa Krisnadhi, S.Kom., M.Sc., Ph.D</h4>
                        <p class="member-card__major">Manajer Riset dan Pengabdian Masyarakat</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/Staff-photo-panca-hadi-fasilkom-ui.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Dr. Panca O. Hadi Putra, B.Sc. (Hons.), S.H., M.Bus., M.Kn.</h4>
                        <p class="member-card__major">Associate Professor</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/staff-photo-rizal-fathoni.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Dr. Rizal Fathoni Aji, S.Kom., M.Kom.</h4>
                        <p class="member-card__major">Manajer Teknologi Informasi</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/siti-aminah.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Dr. Siti Aminah, S.Kom., M.Kom.</h4>
                        <p class="member-card__major">Manajer Kemahasiswaan dan Hubungan Alumni</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/laksmita-rahadianti.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Dr.Eng. Laksmita Rahadianti, S.Kom., M.Sc.</h4>
                        <p class="member-card__major">Manajer Kerjasama Pendidikan &amp; Riset</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/staff-photo-edina-ayuningtas.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Edina Ayuningtyas, S.E., M.A.</h4>
                        <p class="member-card__major">Manajer Keuangan</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/staff-photo-hafied-siddiqi.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Hafied Nur Siddiqi, S.E., M.T.I.</h4>
                        <p class="member-card__major">Manajer Pengadaan, Pengelolaan dan Pemeliharaan Fasilitas</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/staff-photo-hennie-marianie.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Hennie Marianie, S.E., M.S.M.</h4>
                        <p class="member-card__major">Manajer Sumber Daya Manusia</p>
                    </div>
                </div>
            </div>

            <div class="division__block" id="staf-pengajar">
                <h3 class="division__block-subtitle">Staf Pengajar</h3>
                <div class="division__members">
                    <div class="member-card" data-details="">
                      <img src="static/img/element-fasilkom/staf/staff-photo-achmad-nizar-w.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Prof. Dr. Achmad Nizar Hidayanto, S.Kom., M.Kom.</h4>
                      <p class="member-card__major">Wakil Dekan bidang Sumber Daya, Ventura, dan Administrasi Umum</p>
                    </div>

                    <div class="member-card" data-details="">
                      <img src="static/img/staf-tetap/kasiyah-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Prof. Dr. Dra. Kasiyah, M.Sc.</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>
                    <div class="member-card" data-details="">
                      <img src="static/img/staf-tetap/staff-photo-wisnu-jatmiko-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Prof. Dr. Eng. Wisnu Jatmiko, S.T., M.Kom.</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>

                    <div class="member-card" data-details="">
                      <img src="static/img/staf-tetap/staff-photo-indra-budi-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Prof. Dr. Indra Budi, S.Kom., M.Kom.</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>

                    <div class="member-card" data-details="">
                      <img src="static/img/staf-tetap/aniati-murni-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Prof. Dr. Ir. Aniati Murni Arymurthy, M.Sc.</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>
                    <div class="member-card" data-details="">
                      <img src="static/img/staf-tetap/ekokb-budiardjo-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Prof. Dr. Ir. Eko K. Budiardjo, M.Sc.</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>
                    <div class="member-card" data-details="">
                      <img src="static/img/element-fasilkom/staf/staff-photo-petrus-mursanto-white.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Prof. Dr. Ir. Petrus Mursanto, M.Sc.</h4>
                      <p class="member-card__major">Dekan</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/staf-tetap/staff-photo-bella-widjaja-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Prof. Dra. Belawati H. Widjaja, M.Sc., Ph.D.</h4>
                        <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>
                    <div class="member-card" data-details="">
                        <img src="static/img/element-fasilkom/staf/dosen-putu-wuri.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Prof. Dr. Putu Wuri Handayani, S.Kom., M.Sc..</h4>
                        <p class="member-card__major">Koordinator Program Studi Sarjana Sistem Informasi</p>
                    </div>

                    <div class="member-card" data-details="">
                      <img src="static/img/staf-tetap/Adhi-Yuniarto-L.-Y.-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Ir. Adhi Yuniarto L. Yohanes, M.Kom.</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>

                    <div class="member-card" data-detail="">
                      <img src="static/img/staf-tetap/ariWibisono-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Dr. Ari Wibisono, S.Kom., M.Kom</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>

                    <div class="member-card" data-details="">
                      <img src="static/img/staf-tetap/foto-ade-azurat-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Dr. Ade Azurat, S.Kom.</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>

                    <div class="member-card" data-details="">
                      <img src="static/img/staf-tetap/ave-adriana500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Ave Adriana Pinem, S.Kom., M.Kom.</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>

                    <div class="member-card" data-details="">
                      <img src="static/img/element-fasilkom/staf/staff-photo-ari-sapta.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Ari Saptawijaya, S.Kom., M.Sc., Ph.D</h4>
                      <p class="member-card__major">Wakil Dekan Bidang Pendidikan, Penelitian, dan Kemahasiswaan</p>
                    </div>

                    <div class="member-card" data-details="">
                      <img src="static/img/staf-tetap/staff-photo-amril-syamil-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Amril Syalim, S.Kom., M.Eng., Ph.D., CISSP</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>

                    <div class="member-card" data-details="">
                      <img src="static/img/element-fasilkom/staf/Alfan-Farizki-Wicaksono.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Alfan Farizki Wicaksono, S.T., M.Sc., Ph.D.</h4>
                      <p class="member-card__major">Koordinator Program Studi Sarjana Ilmu Komputer dan Kelas Internasional</p>
                    </div>

                    <div class="member-card" data-details="">
                      <img src="static/img/staf-tetap/staff-photo-adila-alfa-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Adila Alfa Krisnadhi, S.Kom., M.Sc., Ph.D</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>

                    <div class="member-card" data-details="">
                      <img src="static/img/staf-tetap/Bob-Hardian-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Ir. Bob Hardian Syahbuddin, M.Kom., Ph.D.</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>

                    <div class="member-card" data-details="">
                      <img src="static/img/staf-tetap/bobby-nazief-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Drs. Bobby A. A. Nazief, M.Sc., Ph.D.</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>

                    <div class="member-card" data-details="">
                      <img src="static/img/staf-tetap/staff-photo-betty-purwandari-alt2-500x500.jpg" alt="Foto Anggota" class="member-card__img">
                      <h4 class="member-card__name">Betty Purwandari, S.Kom., M.Sc., Ph.D</h4>
                      <p class="member-card__major">Staf Pengajar Tetap</p>
                    </div>              
                        </div>
                    </div>
            
            <div class="division__block" id="security">
                <h3 class="division__block-subtitle">Security</h3>
                <div class="division__members">
                    <div class="member-card" data-details="Kalau ada barang hilang bisa lapor ke pak Isyro atau izin kegiatan untuk gedung">
                        <img src="static/img/element-fasilkom/element-pacil/2.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Jamiatul Isyro</h4>
                        <p class="member-card__major">Security</p>
                        <p class="member-card__major">08.00 - 16.30</p>
                        <p class="member-card__major">Pos Monitor</p>
                    </div>

                    <div class="member-card" data-details="Untuk kehilangan dan pencurian (sepeda, motor, helm, laptop)">
                        <img src="static/img/element-fasilkom/element-pacil/4.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Ratrehan Syabilla</h4>
                        <p class="member-card__major">Security</p>
                        <p class="member-card__major">08.00 - 20.00</p>
                        <p class="member-card__major">Wilayah Fasilkom</p>
                    </div>

                    <div class="member-card" data-details="Untuk kehilangan dan pencurian (sepeda, motor, helm, laptop)">
                        <img src="static/img/element-fasilkom/element-pacil/12.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Muhammad Raihan</h4>
                        <p class="member-card__major">Security</p>
                        <p class="member-card__major">08.00 - 20.00</p>
                        <p class="member-card__major">Wilayah Fasilkom</p>
                    </div>
                    
                    <div class="member-card" data-details="Untuk kehilangan dan pencurian (sepeda, motor, helm, laptop)">
                        <img src="static/img/element-fasilkom/element-pacil/16.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Hardiansyah</h4>
                        <p class="member-card__major">Security</p>
                        <p class="member-card__major">08.00 - 12.00</p>
                        <p class="member-card__major">Gedung Lama</p>
                    </div>

                    <div class="member-card" data-details="Untuk kehilangan dan pencurian (sepeda, motor, helm, laptop)">
                        <img src="static/img/default-pacil.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Fikri Feriansyah</h4>
                        <p class="member-card__major">Security</p>
                        <p class="member-card__major">08.00 - 20.00</p>
                        <p class="member-card__major">Gedung Lama</p>
                    </div>

                    <div class="member-card" data-details="Untuk kehilangan dan pencurian (sepeda, motor, helm, laptop)">
                        <img src="static/img/default-pacil.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">M Agil</h4>
                        <p class="member-card__major">Security</p>
                        <p class="member-card__major">08.00 - 20.00</p>
                        <p class="member-card__major">Gedung Lama</p>
                    </div>
                </div>
            </div>

            <div class="division__block" id="cleaning-service">
                <h3 class="division__block-subtitle">Cleaning Service</h3>
                <div class="division__members">
                    <div class="member-card" data-details="Bisa Lapor kehilangan barang atau tentang kebersihan kelas/ lingkungan gedung baru">
                        <img src="static/img/default-pacil.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Ujang Sumarna</h4>
                        <p class="member-card__major">Leader Cleaning Service</p>
                        <p class="member-card__major">06.00 - 16.30</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                    </div>
                    <div class="member-card" data-details="Bisa Lapor kehilangan barang atau tentang kebersihan kelas/ lingkungan gedung baru">
                        <img src="static/img/element-fasilkom/element-pacil/21.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Asman</h4>
                        <p class="member-card__major">Cleaning Service</p>
                        <p class="member-card__major">06.00 - 16.30</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Fasilkom Gedung Baru</p>
                        <p class="member-card__major">Lantai 1</p>
                    </div>

                    <div class="member-card" data-details="Bisa Lapor kehilangan barang atau tentang kebersihan kelas/ lingkungan gedung baru">
                        <img src="static/img/element-fasilkom/element-pacil/11.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Nur Meylita</h4>
                        <p class="member-card__major">Cleaning Service</p>
                        <p class="member-card__major">06.00 - 16.30</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Fasilkom Gedung Baru</p>
                        <p class="member-card__major">Lantai 7</p>
                    </div>
                    <div class="member-card" data-details="Bisa Lapor kehilangan barang atau tentang kebersihan kelas/ lingkungan gedung baru">
                        <img src="static/img/element-fasilkom/element-pacil/6.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Rahma Barokah</h4>
                        <p class="member-card__major">Cleaning Service</p>
                        <p class="member-card__major">06.00 - 16.30</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Fasilkom Gedung Baru</p>
                        <p class="member-card__major">Lantai 6</p>
                    </div>
                    <div class="member-card" data-details="Bisa Lapor kehilangan barang atau tentang kebersihan kelas/ lingkungan gedung baru">
                        <img src="static/img/default-pacil.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Mardiani</h4>
                        <p class="member-card__major">Cleaning Service</p>
                        <p class="member-card__major">06.00 - 16.30</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Fasilkom Gedung Baru</p>
                        <p class="member-card__major">Lantai 5</p>
                    </div>
                    <div class="member-card" data-details="Bisa Lapor kehilangan barang atau tentang kebersihan kelas/ lingkungan gedung baru">
                        <img src="static/img/element-fasilkom/element-pacil/22.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Abdur Rahman</h4>
                        <p class="member-card__major">Cleaning Service</p>
                        <p class="member-card__major">06.00 - 16.30</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Fasilkom Gedung Baru</p>
                        <p class="member-card__major">Lantai 4</p>
                    </div>

                    <div class="member-card" data-details="Bisa Lapor kehilangan barang atau tentang kebersihan kelas/ lingkungan gedung baru">
                        <img src="static/img/element-fasilkom/element-pacil/17.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Firmansah</h4>
                        <p class="member-card__major">Cleaning Service</p>
                        <p class="member-card__major">06.00 - 16.30</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Fasilkom Gedung Baru</p>
                        <p class="member-card__major">Lantai 3</p>
                    </div>
                    <div class="member-card" data-details="Bisa Lapor kehilangan barang atau tentang kebersihan kelas/ lingkungan gedung baru">
                        <img src="static/img/element-fasilkom/element-pacil/5.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Sudrajat</h4>
                        <p class="member-card__major">Cleaning Service</p>
                        <p class="member-card__major">06.00 - 16.30</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Fasilkom Gedung Baru</p>
                        <p class="member-card__major">Lantai 2</p>
                    </div>
                    <div class="member-card" data-details="Bisa Lapor kehilangan barang atau tentang kebersihan kelas/ lingkungan gedung baru">
                        <img src="static/img/element-fasilkom/element-pacil/13.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Muhammad Jihadi</h4>
                        <p class="member-card__major">Leader Cleaning Service</p>
                        <p class="member-card__major">06.00 - 16.30</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Fasilkom Gedung Baru</p>
                        <p class="member-card__major">Lantai d</p>
                    </div>
                    <div class="member-card" data-details="Bisa Lapor kehilangan barang atau tentang kebersihan kelas/ lingkungan gedung baru" >
                        <img src="static/img/element-fasilkom/element-pacil/14.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Dian</h4>
                        <p class="member-card__major">Leader Cleaning Service</p>
                        <p class="member-card__major">06.00 - 16.30</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Fasilkom Gedung Baru</p>
                        <p class="member-card__major">Lantai 1</p>
                    </div>
                </div>
            </div>
            
            <div class="division__block" id="kantin">
                <h3 class="division__block-subtitle">Kantin</h3>
                <div class="division__members">
                    <div class="member-card" data-details="Informasi akan segera diperbarui" >
                        <img src="static/img/default-pacil.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Bu Yanto</h4>
                        <p class="member-card__major">09.00 - 18.00</p>
                        <p class="member-card__major">Senin - Jumat</p>
                        <p class="member-card__major">Gedung Baru</p>
                    </div>
                    <div class="member-card" data-details="Informasi akan segera diperbarui" >
                        <img src="static/img/default-pacil.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Pak Yanto</h4>
                        <p class="member-card__major">08.00 - 18.00</p>
                        <p class="member-card__major">Senin - Jumat</p>
                        <p class="member-card__major">Gedung Lama</p>
                    </div>
                    <div class="member-card" data-details="Informasi akan segera diperbarui" >
                        <img src="static/img/element-fasilkom/element-pacil/20.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Ibu Aas</h4>
                        <p class="member-card__major">09.00 - 16.00</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Gedung Lama</p>
                    </div>
                    <div class="member-card" data-details="Informasi akan segera diperbarui" >
                        <img src="static/img/default-pacil.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Pak Yusuf</h4>
                        <p class="member-card__major">08.00 - 16.00</p>
                        <p class="member-card__major">Senin - Jumat</p>
                        <p class="member-card__major">Gedung Lama</p>
                    </div>
                    <div class="member-card" data-details="Informasi akan segera diperbarui" >
                        <img src="static/img/element-fasilkom/element-pacil/19.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Ibu Aji</h4>
                        <p class="member-card__major">08.00 - 17.00</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Gedung Lama</p>
                    </div>
                    <div class="member-card" data-details="Informasi akan segera diperbarui" >
                        <img src="static/img/element-fasilkom/element-pacil/18.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Ibu Warsini</h4>
                        <p class="member-card__major">06.00 - 17.00</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Gedung Lama</p>
                    </div>
                    <div class="member-card" data-details="Informasi akan segera diperbarui" >
                        <img src="static/img/element-fasilkom/element-pacil/8.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Pak Ruri</h4>
                        <p class="member-card__major">08.00 - 18.00</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Gedung Lama</p>
                    </div>
                    <div class="member-card" data-details="Informasi akan segera diperbarui" >
                        <img src="static/img/element-fasilkom/element-pacil/9.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Pak Suyono</h4>
                        <p class="member-card__major">07.00 - 18.00</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Gedung Lama</p>
                    </div>
                    <div class="member-card" data-details="Informasi akan segera diperbarui" >
                        <img src="static/img/element-fasilkom/element-pacil/7.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Pak Udin</h4>
                        <p class="member-card__major">07.00 - 18.00</p>
                        <p class="member-card__major">Senin - Sabtu</p>
                        <p class="member-card__major">Gedung Lama</p>
                    </div>
                    <div class="member-card" data-details="Informasi akan segera diperbarui" >
                        <img src="static/img/element-fasilkom/element-pacil/10.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Pak Asep</h4>
                        <p class="member-card__major">07.00 - 18.00</p>
                        <p class="member-card__major">Senin - Jumat</p>
                        <p class="member-card__major">Gedung Lama</p>
                    </div>
                    <div class="member-card" data-details="Informasi akan segera diperbarui">
                        <img src="static/img/element-fasilkom/element-pacil/15.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Ibu Suriani</h4>
                        <p class="member-card__major">07.00 - 18.00</p>
                        <p class="member-card__major">Senin - Jumat</p>
                        <p class="member-card__major">Gedung Lama</p>
                    </div>
                </div>
            </div>
            <div class="division__block" id="gardener">
                <h3 class="division__block-subtitle">Gardener</h3>
                <div class="division__members">
                    <div class="member-card" data-details="Bekerja untuk membereskan kebersihan dan keindahan taman di lingkungan fasilkom">
                        <img src="static/img/element-fasilkom/element-pacil/3.jpg" alt="Foto Anggota" class="member-card__img">
                        <h4 class="member-card__name">Aziz Wijaya</h4>
                        <p class="member-card__major">Gardener</p>
                        <p class="member-card__major">06.00 - 16.30</p>
                        <p class="member-card__major">Setiap hari</p>
                        <p class="member-card__major">(Kecuali hari minggu dan Libur Nasional)</p>
                        <p class="member-card__major"></p>
                        <p class="member-card__major">Wilayah Fasilkom</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Modal Pop Up-->
<div class="modal-overlay">
    <div class="modal-content">
        <span class="modal-close">&times;</span>
        <img src="" alt="Foto Anggota" class="modal-img">
        <h3 class="modal-name">Nama Anggota</h3>
        <div class="modal-details">
            <p>Detail keterangan akan muncul di sini.</p>
        </div>
    </div>
</div>